src/main/mule/pracforgit.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="2fb01430-c6a8-4ac1-8552-be1a42bfab73" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="pracforgitFlow" doc:id="498a8914-8477-459c-b824-84c04fb7147d" >
		<http:listener doc:name="Listener" doc:id="b4eff47d-73e8-4853-b453-3b4fbc5b0037" config-ref="HTTP_Listener_config" path="/api"/>
		<set-payload value='#["this is working fine and fine"]' doc:name="Set Payload" doc:id="ec6049fe-e414-4fe2-a8d3-5616633df292" />
		<logger level="INFO" doc:name="Logger" doc:id="7e1ce2a3-020c-4571-92d8-bf4cc50e599c" message="#[payload]"/>
	</flow>
</mule>
